/*Position
Relative
Absolute
fixed
stiky
z-index
*/
/*Position relative*/
.box-1{
    background: aqua;
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin: 2em;
    position: relative;
    left: 30px;
    top: 30px;
    bottom: -1000px;
    right: -1000px;
}